*{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
.nav-tile{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
.header{
    background:#FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    
}
nav {
    display: flex;
    justify-content: space-between; /*eita joto parbe content guloke 2 prante niye jabe*/
    padding:20px 200px;
}
nav ul{
    display: flex;
    align-items: center; /*portfilo and blogs position fix*/
}
nav li{
    list-style: none;
    margin-left:50px;  
}
/*button*/
.btn-primary{
    background-color:#FD6E0A;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 18px 36px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
}
.banner{
    margin: 0 200px;/*dane bame 200 kore kintu upore lagbena tai 0*/
    display: flex;
    align-items: center;/*The align-items property is used to set the alignment of items inside the 
                        flexible container or in the given window. It aligns the Flex Items across the 
                         axis*/
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;

}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/*main section*/
main{
     width: 1140px;
     margin: 0 auto;
}

/*about section title*/
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding:130px 150px;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    color: #757575;
}